@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "pages/home";
@import "pages/about";
@import "pages/arrivals";
@import "products/all";
@import "products/single";
@import "cart/checkout";
@import "account/account";
@import "account/login_register";

body {
  line-height: 1;
  font-family: Roboto;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 25px;
  z-index: 10;
  .logo {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0 2px 2px grey;
    a {
      transition: color .3s ease-in-out;
      text-decoration: none;
      color: #484c4f;
      &:hover {
        color: maroon;
      }
    }
  }
  .menu {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 500; 
    #CartBtnRoot {
      display: inline-block;
    }
    a {
      position: relative;
      color: #484c4f;
      padding-right: 15px;
      text-decoration: none;
      transition: color .3s ease-in-out;
      &:hover {
        color: maroon;
      }
      &.cart-link {
        transition: background .3s ease-in-out;
        background: #484c4f;
        color: white;
        padding: 10px 20px;
        display: inline-block;
        position: relative;
        border-radius: 20px;
        &:hover {
          background: maroon;
        }
        span {
          position: absolute;
          top: -8px;
          right: -8px;
          border: 2px solid #e3e8ec;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: black;
          border-radius: 50%;
        }
      }
    }
  }
}

.content-area {
  filter: blur(0);
  transition: filter .4s ease-in-out;
  background: hsl(207, 19%, 85%);
  &.cart-popup-active {
    filter: blur(10px);
  }
}

// Shopping Cart
#cart-popup {
  cursor: default;
  border-top: 1px solid #999;
  filter: drop-shadow(0 -2px 4px #999);
  background: #f2f6f7;
  height: 250px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 20;
  display: grid;
  grid-template-columns: 5% 50% 1fr 1fr 1fr;
  transform: translate3d(0, 300px,0);
  transition: transform .4s ease-in-out;
  &.active {
    transform: translate3d(0,0,0);
  }
  .cart-title {
    width: 100px;
    max-width: 100px;
    position: relative;

    .title {
      position: absolute;
      top:20px;
      left:-60px;
      font-size: 2rem;
      color: #b6bfc6;
      transform: rotate(-90deg);
      width: 200px;
    }
  }
  .cart-items {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .item-container {
      width: 200px;
      display: inline-block;
    }
    .item {
      width: 200px;
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      position: relative;
      padding: 70px 15px;
      cursor: pointer;
      &:hover .circle{
          background: hsla(0, 100%, 35%, .7);
          color: white;
        }
      img {
        position: absolute;
        left: -30px;
        width: 100%;
        transform: rotate(90deg);
      }
      .delete-btn{
        background: white;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        border-radius: 50px;
      }
      .circle {
        cursor: pointer;
        background: #f2f6f7;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all .3s ease-in-out;
      }
    }
  }
  .product-total, .price-total, .checkout {
    display: flex;
    align-items: center;
    .inside-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-left: 3px solid #999;
      width: 100%;
      .title {
        color: #b6bfc6;
        background: white;
        padding: 5px 20px;
        border-radius: 20px;
        display: inline-block;
        margin-bottom: 10px;
      }
      .number {
        color: #b6bfc6;
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
  .checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    text-transform: uppercase;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 700;
    border-left: 1px solid #999;
    cursor:pointer;
    &:hover {
      .ti-shopping-cart {
        color: green;
      }
    }
    .inside-container {
      border-left: none;
      .title {
        margin-bottom: 1.2rem;
      }
    }
  }
}

.box-container {
  background: #fff;
  border-radius: 10px;
  padding: 80px 20px;
}

form {
  button {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 10px;
    background-color: rgb(27, 108, 206);
    color: #fff;
    cursor: pointer;
    border: none;
  }
  input[type="password"], input[type="email"], input[type="text"] {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #6c6c6c;
  }
}
