.content-area.product-single-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 115px 0 0;
  cursor: default;
  overflow: hidden;
  height: 100vh;
  .product-img {
    // background: #e3e8ec;
    background: hsl(207, 19%, 85%);
    height: calc(100vh - 115px);
    width: 100%;
    position: relative;
    .product {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .circle {
        width: 600px;
        height: 600px;
        // background: #ecf0f3;
        background: #e3e8ec;
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 151px 0px rgba(156,156,156,.27);
        img {
          width: 150%;
          position: relative;
          top: -25px;
        }
      }
    }
  }
  .product-detail {
    width: 100%;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
    .titles {
      .brand {
        text-transform: uppercase;
        color: maroon;
        font-weight: 900;
        font-size: .8rem;
        margin-bottom: 2rem;
      }
      .product {
        text-transform: capitalize;
        color: #1f1f1f;
        font-weight: 500;
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }
    }

    .details {
      p {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.4;
        text-align: justify;
        margin-bottom: 2rem;
      }
    }
    .add-to-cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .button-area {
        .button {
          letter-spacing: .2px;
          background: #fff;
          padding: 1rem;
          border: 1px solid #1f1f1f;
          display: block;
          color: black;
          font-weight: 700;
          margin-bottom: 1rem;
          width: 100%;
          cursor: pointer;
        }
      }
    }
    .detail-section {
      padding: 0;
      // height: 100vh;
      .detail {
        position: relative;
        margin-bottom: 1rem;
        
        .toggle {
          display: none;
          &:checked {
            + .title + .content {
              max-height: 500px;
              overflow-x: hidden;
            }
            + .title:before {
              transform: rotate(90deg);
            }
          }
        }
        .title, .content {
          backface-visibility: hidden;
          transform: translateZ(0);
          transition: all .2s;
          cursor: pointer;
        }
        .title {
          letter-spacing: .2px;
          background: #fff;
          padding: 1rem;
          border: 1px solid #1f1f1f;
          display: block;
          color: black;
          font-weight: 700;
          margin-bottom: 1rem;
          &::before, &::after {
            content: "";
            position: absolute;
            right: 1.25em;
            top: 1.25em;
            width: 2px;
            height: .75em;
            background-color: black;
            transition: all .2s;
          }
          &::after {
            transform: rotate(90deg);
          }
          &.size-title {
            background: hsl(0, 0%, 10%);
            color: #fff;
            &::before, &::after {
              content: "";
              background-color: #fff;
            }
          }
          
        }
        .content {
          max-height: 0;
          overflow: hidden;
          .paragraph {
            border: 1px solid #fff;
            padding: 10px;
            display: inline-block;
            color: grey;
            transition: all .2s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: .2px;
            cursor: pointer;
            &:hover, &.selected {
              background: maroon;
              color: white;
              // font-weight: 500;
              // border: 1px solid grey;
            } 
          }
          .sizes{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // grid-gap: 10px;
            list-style: none;
            text-align: center;
            max-height: 140px;
            overflow-y: auto;
            .option {
              padding: 10px 0;
              &:hover {
                background: hsl(0, 0%, 18%);
                color: white;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}