.content-area.checkout-page{
  cursor: default;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .box-container {
      overflow: hidden;
      overflow-y: auto;
      padding: 50px 20px;
      width: 800px;
      height: 600px;
      h1 {
        color: #484c4f;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
        font-weight: 500;
        text-shadow: 0 2px 2px grey;
      }
      .checkout-grid {
        display: grid;
        grid-template-columns: 70% 1fr;
        grid-gap: 20px;
        .forms {
          h3 {
            font-size: 1.7rem;
            margin: 1.5rem 0;
          }
          form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
          }
          label {
            display: block;
            margin-bottom: 1rem;
          }
          input {
            max-width: 700px;
            // font-size: 1.2rem;
            // font-weight: 300;
          }
        }
        .totals {
          .total-items {
            position: sticky;
            top: 0;
            .items, .tax, .shipping, .price {
              margin: 0 0 1.3rem;
              text-transform: capitalize;
              font-weight: 300;
              font-size: 1.5rem;
              span {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}