.content-area.arrivals-page {
  background: hsl(207, 19%, 85%);
  width: 100%;
  height: 100vh;
  cursor: default;
  
  h1.arrivals-title {
    padding-top: 8rem;
    color: #484c4f;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 2px 2px grey;
  }
  h2 {
    text-align: center;
    font-weight: 500;
  }
  .arrivals-grid {
    margin: 50px auto 0;
    position: absolute;
    left: 50%;
    top: 13rem;
    transform: translate(-50%);
    display: grid;
    width: 60%;
    height: 300px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    // z-index: 5;
    .grid-item {
      cursor: pointer;
      background: #fff;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.item1 {
        background-image: url('img/products/Adidas-Yeezy-Boost-350v2-hyperspace-lightgrey.png');
        background-size: cover;
        background-position: 50% 100%;
        
      }
    }
  }
}