<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  @!section('title')
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">Sneaker Shop</a>
    </div>
    <div class="menu">
      <a href="/about">About</a>
      <a href="/products/new_arrivals">New Arrivals</a>
      <a href="/products">Products</a>
      <a href="#" id="CartBtnRoot">Cart<span class="cart-link__number">4</span></a>
    </div>
  </header> 
  
  @!section('content')

  <div id="CartPopupRoot"></div>
  


  {{--  @!section('javascript')  --}}
  {{--  <script>
    const cart = document.getElementById('cart-popup');
    const cartButton = document.querySelector('#CartBtnRoot');
    const content = document.querySelector('.content-area')

    cartButton.addEventListener('click', clickCart)

    function clickCart() {
      cart.classList.toggle('active');
      content.classList.toggle('cart-popup-active')
    }
  </script>  --}}
  <script src="/js/dist/vendors.js"></script>
  <script src="/js/dist/CartBtn.js"></script>
</body>
</html>
