<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  @!section('title')
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">Sneaker Shop</a>
    </div>
    <div class="menu">
      <a href="/about">About</a>
      <a href="/new_arrivals">New Arrivals</a>
      <a href="#">Catagories</a>
      <a href="#" class="cart-link">Cart<span class="cart-link__number">4</span></a>
    </div>
  </header> 
  
  @!section('content')

  <section id="cart-popup" >
    
    <div class="cart-title">
      <div class="title">My Cart</div>
    </div>
    <div class="cart-items">
      <div class="item-container">
        <div class="item">
          <img src="img/products/Adidas-Yeezy-Boost-350v2-hyperspace-lightgrey.png" />
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="img/products/Adidas-Yeezy-Boost-350v2-hyperspace-lightgrey.png" />
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="img/products/Adidas-Yeezy-Boost-350v2-hyperspace-lightgrey.png" />
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="img/products/Adidas-Yeezy-Boost-350v2-hyperspace-lightgrey.png" />
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-total">
      <div class="inside-container">
        <div class="title">Total</div>
        <div class="number">x4</div>
      </div>
    </div>
    <div class="price-total">
      <div class="inside-container">
        <div class="title">Total</div>
        <div class="number">$3,000</div>
      </div>
    </div>
    <div class="checkout">
      <div class="inside-container">
        <div class="title">Checkout</div> 
        <span class="ti-shopping-cart"></span>
      </div>
    </div>

  </section>
  
  {{--  @!section('javascript')  --}}
  <script>
    const cart = document.getElementById('cart-popup');
    const cartButton = document.querySelector('.cart-link');
    const content = document.querySelector('.content-area')

    cartButton.addEventListener('click', clickCart)

    function clickCart() {
      cart.classList.toggle('active');
      content.classList.toggle('cart-popup-active')
    }
  </script>
  <script src="js/dist/vendors~FirstComp.js"></script>
  <script src="js/dist/FirstComp.js"></script>
</body>
</html>
