@layout('layouts/main')

@section('title')
<title>Sneaker Shop | New Arrivals</title>
@endsection

@section('content')
  <section class="content-area home-page">
    <div class="top-section">
      <div class="product">
        <div class="circle">
          <img src="img/products/Adidas-Yeezy-Boost-350v2-hyperspace-lightgrey.png"/>
        </div>
      </div>
      <div class="titles">
        <h3>Yeezy</h3>
        <h1>Boost 350 v2</h1>
      </div>
    </div>
  </section>
@endsection